
<footer class="site-footer">

	{% include navigation.html location="footer" %}

	<div class="footer-business-info">
		<h4>SKYCAR DETAILING</h4>
		<h6>"Milen Kamak" 65, 1000 Sofia Center,</h6>
		<h6><a href="/">+359 889 888 888</a></h6>
		<h6><a href="/">Atanasov@skycardetailing.com</a></h6>
	 </div> 

	 <div class="footer-business-hours">
	 	<h4>Hours</h4>
	 	<h6>Mon 10AM-5PM</h6>
	 	<h6>Tue 10AM-5PM</h6>
	 	<h6>Wed 10AM-5PM</h6>
	 	<h6>Thu 10AM-5PM</h6>
	 	<h6>Fri 10AM-5PM</h6>
	 	<h6>Sat Closed</h6>
	 	<h6>Sun Closed</h6>	 	
	 </div>

	 <div class="social-links footer-business-info">
	 	<a href="/">YOUTUBE</a>
	 	<a href="/">INSTAGRAM</a>
	 	<a href="/">FACEBOOK</a>
	 	<a href="/">TWITTER</a>
	 </div>
		
    <p class="footer-business-info">All rights rederved &copy; {{ site.title }}</p>
</footer>
