body {
	box-shadow: inset 0px 0px 43px 3px rgba(197,110,16,0.15);
}
.site {
	max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}

@media ( min-width: 1024px ) {
	.site-header {
	    display: flex;
	    align-items: center;
	}

	.site-header nav {
		margin-left: auto;
	}
}

iframe {
	width: 100%;
}
