.site-nav {

}
.site-nav > ul {
    display: flex;
    padding: 0;
}
.site-nav li{
	display: flex;
	display: block;
	list-style: none;
	padding: 0.5em;
}

.site-nav li:first-child {
	padding-left: 0;
}

.site-nav li:last-child {
	padding-right: 1.0em;
}

.site-nav a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	font-size: 20px;
	text-shadow: 4px 4px 2px rgba(0,0,0,0.6);

}

.site-nav a:hover {
	/*background: var(--color-link-default);*/
	color: var(--color-body-bgrd);
	border-bottom: 2px solid #ff8c00;
}