.site-nav > ul {
  padding: 0; }
  @media (min-width: 700px) {
    .site-nav > ul {
      display: flex; }
      .site-nav > ul ul {
        display: block;
        pointer-events: none;
        padding: 0.5em;
        position: absolute;
        top: 100%;
        left: 0;
        width: 15em;
        z-index: 1; }
        .site-nav > ul ul li {
          opacity: 0;
          transform: translateY(-1em);
          transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }
          .site-nav > ul ul li:nth-child(1) {
            transition-delay: 0.1s; }
          .site-nav > ul ul li:nth-child(2) {
            transition-delay: 0.2s; }
          .site-nav > ul ul li:nth-child(3) {
            transition-delay: 0.3s; }
          .site-nav > ul ul li:nth-child(4) {
            transition-delay: 0.4s; }
          .site-nav > ul ul li:nth-child(5) {
            transition-delay: 0.5s; }
          .site-nav > ul ul li:nth-child(6) {
            transition-delay: 0.6s; }
          .site-nav > ul ul li:nth-child(7) {
            transition-delay: 0.7s; }
          .site-nav > ul ul li:nth-child(8) {
            transition-delay: 0.8s; }
          .site-nav > ul ul li:nth-child(9) {
            transition-delay: 0.9s; }
          .site-nav > ul ul li:nth-child(10) {
            transition-delay: 1s; } }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
  position: relative; }
  .site-nav li:not(:last-child) {
    margin-bottom: 0.5em; }

.site-nav:hover ul {
  z-index: 100;
  pointer-events: all; }

.site-nav:hover li {
  opacity: 1;
  transform: translateY(0); }

.site-nav > li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); }

.site-nav li:hover > a,
.site-nav li.selected > a,
.site-nav a:hover {
  color: #e3303f; }

.toggle-nav-btn {
  color: #FFF;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 3em;
  position: absolute;
  top: 2em;
  right: 1.2em; }
  .toggle-nav-btn .fa-times {
    display: none; }

.toggle-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 700px) {
    .toggle-nav + .site-header .toggle-nav-btn {
      display: flex; }
    .toggle-nav + .site-header .site-nav {
      display: none; }
    .toggle-nav:checked + .site-header .site-nav {
      display: block; }
    .toggle-nav:checked + .site-header .toggle-nav-btn .fa-bars {
      display: none; }
    .toggle-nav:checked + .site-header .toggle-nav-btn .fa-times {
      display: block; }
    .toggle-nav:checked + .site-header li {
      padding: 0;
      -webkit-animation: slideIn 0.3s ease-in;
              animation: slideIn 0.3s ease-in;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
      .toggle-nav:checked + .site-header li:nth-child(2) {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .toggle-nav:checked + .site-header li:nth-child(3) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .toggle-nav:checked + .site-header li:nth-child(4) {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      .toggle-nav:checked + .site-header li:nth-child(5) {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s; } }
