:root {
	--font-size-body: 14px;
	--font-size-large: 16px;
	--font-size-big: 18px;
	--font-size-huge: 20px;

	--layout-main-width: 70em;
    
    --color-body-bgrd: #FFF;
    --color-body-text: #000;
	--color-link-default: #ff8c00;

	--color-border-default: #999;

	--spacing-layout-elements: 2em;
}