<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
</head>
<body class="{% if page.title %}page page-{{ page.title | slugify }}{% endif %}
{% if post.title %}post{% endif %}
{% if page.home %}home{% endif %}">
	<div class="site">
		<!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->
		<header class="site-header">
			<div class="branding">

				{% if page.home == true %}
				<h1 class="site-title">
					<a href="{{site.baseurl}}/">{{site.title}}</a>
				</h1>
				{% else %}
				<p class="site-title">
					<a href="{{site.baseurl}}/">{{site.title}}</a>
				</p>
				{% endif %}
				<p class="description">DETAILING</p>
		    </div>
			<!-- <label for="nav-toggle" class="nav-toggle-button">
				<span>Menu</span>
			</label> -->
			
<!-- navigation.html -->
            {% include navigation.html location="header" %}

		</header>
		<main class="site-main">
			<div class="wrapper">
				<!-- {% if page.title %}
				    <h1>{{page.title}}</h1>
				{% endif %} -->

				{{content}}
			</div>
	

			
		</main>

<!-- footer.htm		 -->
       
        {% include footer.html %}
		
	</div>

</body>
</html>