.paint-protection {
	background: url(../images/paint-protection.jpg) center no-repeat;
}

.clear-protection {
	padding: 0 6em;

	h6 {
		text-align: center;
	}
}

.green-protection {
	background: url(../images/green-protection.png) center no-repeat;

}