.paint-img {
	background: url(../images/paint-img.jpg) center no-repeat;
}

.blog-paint-detailing{ 
    flex: 0 0 32%;
    border: none; 
}

.paint-services {
    color: #000;

    & h4 {
    	text-shadow: none;
    }
}

@include bp(phone) {
	.blog-paint-detailing{ 
    flex: 0 0 100%;
    border: none; 
    } 
    
    .clear-protection {
        padding: 0; 
    }
}