body {
	box-shadow: inset 0px 0px 43px 3px rgba(197,110,16,0.15);
}

.wrapper {
	max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 0 2em;
}

iframe {
	width: 100%;
}



.nav-toggle {
	opacity: 0;
	pointer-events: none;
	position: absolute;
   
}

.nav-toggle-button {
	display: none;
	margin-left: auto;

}


@media ( min-width: 1024px ) {

	.site-header {
	    display: flex;
	    align-items: center;
	}

	.site-header nav {
		margin-left: auto;
	}
    

    .services  {
    	display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 0;
	    margin: 2em 0 5em 0;
	}



	.columns-whu-choose-us {
		display: grid;
		grid-template-columns:repeat(3, 1fr);
		grid-column-gap: 2em;
		grid-template-areas: 
		    "div div div";
		padding: 5em 0;
		border-bottom: 1px solid #000;

	}
/*Contact.html*/

	.contact-info {
		display: grid;
		grid-template-columns:repeat(2, 1fr);
		grid-column-gap: 2em;
		padding-top: 2em;
		font-size: 1.2em;
		grid-template-areas: 
		    "div div";
	}
/*Gallery.html*/
    ul.gallery li {
		flex: 0 0 31%;
		margin-bottom: 6%;
	}
}

@media (min-width: 900px) {
	.gallery li {
		flex: 0 0 31%;

	}
}

@media (max-width: 900px) {
	.gallery li {
		flex: 0 0 45%;
		margin: 0 auto 2em;
	}

	
}

@media (max-width: 600px){
	ul.gallery li {
		flex: 0 0 80%;
		margin-bottom: 6%;
	}
}




 
